fastapi
uvicorn
openai
langchain
langchain-openai
langgraph
pydantic
aiofiles
python-multipart
langid
googletrans
deep-translator
pinecone
PyMuPDF
PyPDF2
gTTS
beautifulsoup4
requests
pydantic-settings
langchain-pinecone
